<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

  <%- include('./custom/home/header.ejs') %>

  <div class="container">
    <div class="main-container">
      <section>
        <main class="main" id="main" style="overflow-y:auto; height:60%;max-height:786px;">
          <!-- post sectoion -->
          <%- include('./custom/home/stautus.ejs') %>
          <% for(let i=0;i<posts.length;i++){ %>
          <%- include('./custom/home/post.ejs',{post:posts[i]}) %>
          <% } %>
        </main>
      </section>

      <section style="position: static;">
        <div class="column">
          <!-- profile user -->
          <%- include('./custom/home/profileUser.ejs') %>
          <!-- suggestion -->
          <div class="suggestion-container">
            <p class="suggestion-for-you">
              Suggestions For You
            </p>
            <p>See All</p>
          </div>

          <!-- different users -->

          <%- include('./custom/home/suggestedUser.ejs') %>
          <%- include('./custom/home/suggestedUser.ejs') %>
          <%- include('./custom/home/suggestedUser.ejs') %>
          <%- include('./custom/home/suggestedUser.ejs') %>
          <%- include('./custom/home/suggestedUser.ejs') %>

        </div>
      </section>

    </div>
  </div>


</body>
<script>
  window.onload = () => {
    console.log("hellow");
    document.getElementById('main').style.height = window.screen.height * 100;
    // document.getElementById('main').style.paddingBottom = '1000px';
  }
</script>

</html>