<div class="card">
    <div class="post">
        <!-- post image -->
        <div class="header">
            <div class="left-part">
                <img class="avatar" src="image/insta_dp.png" alt="">
                <p class="user-name">
                    <%= post.createdby.userName %> 
                </p>
            </div>
            <div class="right-part"></div>
        </div>
        <!-- post image -->
        <div class="img">
            <img src="image/postImage.jpg" alt="">
        </div>


        <div class="footer-container">
            <!-- post like & comment -->
            <div class="btns">
                <div class="like-cmnt-shr">
                    <div class="like">
                        <%- include('../../../assets/svg/heart.svg') %>
                    </div>
                    <div class="comment">
                        <%- include('../../../assets/svg/comment.svg') %>
                    </div>
                    <div class="share">
                        <%- include('../../../assets/svg/share.svg') %>
                    </div>
                </div>
            </div>

            <!-- total likes -->
            <p class="total-likes">
                <%= post.likes.total %> 
                likes</p>

            <!-- post description -->
            <div class="description">
                <p>
                    <span class="user-name">
                        @<%= post.createdby.userName %> 
                    </span>
                    <br>
                <%= post.description %> 
                </p>
            </div>
            <!-- total comment -->
            <div class="total-comment">
                <a href="#">View all <%= post.comment.total %>  comments</a>
            </div>
            <!-- top two comments -->
            <div class="top-two-comments">
            </div>
            <!-- time -->
            <p class="time">
                <%= post.createdAt %> 
            </p>
        </div>
    </div>
</div>